<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book the conferrence room</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/"><button>All rooms</button></a></li>
        <li><a href="/room/new/"><button>Add room</a></button></li>
    </ul>
</div>
<div>
    <h1>List of rooms    {{ today }}</h1>
    <ul>
        {% for room in all_rooms %}
            <li>
                <h3><a href="/room/{{room.id}}/">{{room.name}}</a></h3>
                    Capacity: {{room.capacity}}, 
                    Projector: {% if room.projector == True %}
                        Yes,
                        {% else %}
                        No,
                        {% endif %}
                    Available now: {% if room.available == True %}
                        Yes,
                        {% else %}
                        No,
                        {% endif %}
                    <a href="/room/modify/{{room.id}}/"><button>Edit</button></a>
                    <a href="/room/delete/{{room.id}}/"><button>Delete</button></a>
                    <a href="/room/reserve/{{room.id}}/"><button>Reserve</button></a>
            </li>
        {% endfor %}
    </ul>
</div>
<footer>
    Author: Łukasz Kolmus
</footer>
</body>
</html>
