<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book the conferrence room</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/"><button>All rooms</button></a></li>
            <li><a href="/room/new/"><button>Add room</a></button></li>
        </ul>
    </div>
<div>
    <form method="post">
        {% csrf_token %}
        Name <input type="text" name="name" value="{{room.name}}"><br>
        Capacity <input type="number" name="capacity" value="{{room.capacity}}"><br>
        {% if room.projector == True%}
        Has projector <input type="checkbox" name="projector" checked><br>
        {% else %}
        Has projector <input type="checkbox" name="projector" ><br>
        {% endif %}
        <Button type="submit">Send</Button><br>
    </form>
</div>
<div>
    {{response}}
</div>
<footer>
    Author: Łukasz Kolmus
</footer>
</body>
</html>