<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book the conferrence room</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/"><button>All rooms</button></a></li>
        <li><a href="/room/new/"><button>Add room</a></button></li>
    </ul>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        comment <input type="text" name="comment"><br>
        date <input type="date" name="date"><br>
        <Button type="submit">Send</Button><br>
    </form>
</div>
<div>
    {{response}}<br><br>
    <h3>Reservations:</h3>
    <ul>
    {% for object in reservations %}
        <li>
            Date: {{  object.date  }}, <br>
            Comment: {{  object.comment  }}<br><br>
        </li>
    {% endfor %}</ul>

</div>
<footer>
    Author: Łukasz Kolmus
</footer>
</body>
</html>
